<div class="container-fluid content-grid">
	<div class="container">
		<ng-include src="'templates/products/filters.html'"></ng-include>
		<div class="container-fluid">
			<div class="product-grid">
				<div class="col-sm-8 pull-right"><app-spinner ng-show="isLoading"></app-spinner></div>
				<div class="col-sm-4" ng-repeat="item in items | filter:query" ng-show="!isLoading">
					<div class="product-item">
						<div class="thumbnail">
							<a href="">
								<img ng-src="/uploads/{{item.thumbnail}}">
							</a>
							<div class="product-name">
								<a href="http://goxob-laravel.local/product/3-" title="">
									{{item.name}}</a>
							</div>
							<div class="price-box">
								<span class="price">{{item.price | currency }}</span>
							</div>
							<div class="row product_swatches">
								<ul class="new_color_selector">
									<li ng-repeat="color in item.colors" title="{{color.name}}" class="color_swatch selected" ng-mouseover="product.active_sku = sku">
										<div ng-class="color.class + (color.active?' active':'')"></div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>