<div class="container">
  <div class="row product-grid">
    <div class="col-sm-3" ng-repeat="item in items | filter:query">
      <div class="product-item">
        <div class="thumbnail">
          <a href="">
            <img ng-src="/uploads/{{item.filename}}">
          </a>
          <div class="product-name">
            <a href="http://goxob-laravel.local/product/3-" title="">
              {{item.name}}</a>
          </div>
          <div class="price-box">
            <span class="price">{{item.price | currency }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-spinner ng-show="isLoading"></app-spinner>