<app-spinner ng-show="isLoading"></app-spinner>
<div class="container iframe_override" ng-show="!isLoading">
    <div class="product_detail_section eye   ">
        <div class="row">
            <div class="left-col ng-scope">
                <div images-loaded>
                    <div ng-repeat="color in product.colors" ng-if="color.selected==true">
                        <img id="zoom_{{color.id}}" ng-src="/uploads/{{color.images[0].filename}}"
                             data-zoom-image="/uploads/{{color.images[0].filename}}" width="643px">

                        <div>
                            <div id="gallery_{{color.id}}" class="gallery">
                                <a ng-repeat="image in color.images" href="#" data-image="/uploads/{{image.filename}}"
                                   data-zoom-image="/uploads/{{image.filename}}"><img
                                        ng-src="/uploads/{{image.filename}}"/></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ng-scope">
                    <div class="lens-config ng-scope">
                        <div class="glass-5-pdp-heading-part circle-one">
                            <h3>Frame<br>Color:</h3>

                            <div class="product-swatches">
                                <ul class="new_color_selector">
                                    <li ng-repeat="color in product.colors" title="{{color.name}}" class="color_swatch"
                                        ng-click="selectColor(color)">
                                        <div ng-class="color.class + (color.selected?' active':'')"></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="color-selected">{{selectedColorName}}</div>
                        </div>
                    </div>


                    <div class="lens-config ng-scope">
                        <div class="glass-5-pdp-heading-part circle-two">
                            <h3 class="ng-binding">Prescription Type:</h3>
                        </div>
                        <div class="radio-holder">
                            <ul class="pdp-control-radio">
                                <li>
                                    <label>
                                        <input type="radio" ng-model="selected_package_code"
                                               ng-value="'single_vision'"
                                               ng-change="changeSelectedPackage('single_vision')"
                                               id="radio_single_vision" name="53" value="single_vision">
                                        <span class="pdp-label"></span>
                                        <span>Single Vision</span>

                                        <div class="lens-popup" id="single_vision">
                                            <div class="flyout-title ng-binding">Lenses start at: <span>$39.00</span>
                                            </div>
                                            <p>Single vision lenses are prescribed if you need correction for one field
                                                of vision, either for distance, intermediate, or items up close.</p>

                                            <div class="arrow"></div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" ng-model="selected_package_code"
                                               ng-value="'multi_vision'"
                                               ng-change="changeSelectedPackage('multi_vision')"
                                               id="radio_multi_vision" class="ng-pristine ng-untouched ng-valid"
                                               name="54" value="multi_vision">
                                        <span class="pdp-label"></span>
                                        <span>Progressive/Multifocal</span>

                                        <div class="lens-popup" id="multi_vision">
                                            <div class="flyout-title ng-binding">Lenses start at: <span>$79.00</span>
                                            </div>
                                            <p>Progressive/Multifocals are prescribed if you need vision correction for
                                                all distances—distance, intermediate or near. Our lenses also feature a
                                                no-line progression through the lens powers.</p>

                                            <div class="arrow"></div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" ng-model="selected_package_code"
                                               ng-value="'reader'"
                                               ng-change="changeSelectedPackage('reader')"
                                               id="radio_reader" name="55"
                                               value="reader"><span class="pdp-label"></span>
                                        <span>Readers</span>

                                        <div class="lens-popup" id="reader">
                                            <div class="flyout-title ng-binding">Lenses start at: <span>$39.00</span>
                                            </div>
                                            <p>For reading magnification only.</p>

                                            <div class="arrow"></div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" ng-model="selected_package_code"
                                               ng-value="'plano'"
                                               ng-change="changeSelectedPackage('plano')"
                                               id="radio_plano" name="56"
                                               value="plano">
                                        <span class="pdp-label"></span>
                                        <span>Blank Lenses</span>

                                        <div class="lens-popup" id="plano">
                                            <div class="flyout-title ng-binding">Lenses start at: <span>$39.00</span>
                                            </div>
                                            <p>The same high quality CR-39 lenses and features as our prescription
                                                lenses, but without the prescription.</p>

                                            <div class="arrow"></div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" ng-model="selected_package_code"
                                               ng-value="'demo'"
                                               ng-change="changeSelectedPackage('demo')"
                                               id="radio_demo" name="57"
                                               value="demo"><span class="pdp-label"></span>
                                        <span>Frame Only</span>

                                        <div class="lens-popup" id="demo">
                                            <p>This option includes only the frames with no lenses.</p>

                                            <div class="arrow"></div>
                                        </div>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="lens-config ng-scope">
                        <div class="glass-5-pdp-heading-part circle-three">
                            <h3 class="ng-binding">Lens Options:</h3>
                        </div>

                        <ng-include src="'/templates/products/lens/'+ selected_package_code +'.html'"></ng-include>

                        <div ng-if="packages[selected_package_code].upgrades.length > 0">
                            <h4 class="options-part ng-binding">Upgrades:</h4>

                            <div class="radio-holder">
                                <ul class="pdp-control-check ng-scope">
                                    <li ng-if="packages[selected_package_code].upgrades.length > 0">
                                        <label>
                                            <input type="checkbox" ng-model="upgrades[0].selected" value="1">
                                            <span class="pdp-label"></span>
                                            <span>CleanShield™ Elite No Glare</span>|<span>Add $49.00</span>
                                            <div class="lens-popup far">
                                                <p>This premium option is super hydrophobic, allowing for easier lens
                                                    cleaning and less smudging, as well as prolonging the life of your
                                                    lenses.</p>
                                                <div class="arrow"></div>
                                            </div>
                                        </label>
                                    </li>
                                    <li ng-if="packages[selected_package_code].upgrades.length > 1">
                                        <label >
                                            <input type="checkbox" ng-model="upgrades[1].selected" value="2">
                                            <span class="pdp-label"></span>
                                            <span>Transitions Adaptive Grey</span> | <span>Add $99.00</span>
                                            <div class="lens-popup far">
                                                <p>Transitions Adaptive Grey Lenses change from light to dark when exposed to sunlight.</p>
                                                <div class="arrow"></div>
                                            </div>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div ng-if="packages[selected_package_code].upgrades.length <= 0">
                            <b>No options for this lens type.</b>
                        </div>
                    </div>
                </div>


            </div>

            <div class="right-col floating-box ng-scope" style="position: absolute; left: 671px; bottom: auto; top: 71px;">
                <div class="eyeglass-col">
                    <div class="top-half">
                        <div class="product-section">
                            <div class="product-header">
                                <div class="title">
                                    <h1>{{product.name}}</h1>
                                    <h2></h2>
                                </div>
                            </div>
                            <div class="sub-section">
                                <div class="main-price">
                                    <div class="price">
                                        <span ng-class="{'promo-pink': selected_sku.price != selected_sku.reg_price}"
                                              class="ng-binding">{{product.price | currency}}</span>
                                    </div>
                                </div>
                                <div class="option-title">Frame Color:</div>
                                <ul class="option-list">
                                    <li class="ng-binding">{{selectedColorName}}</li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-section">
                            <div class="main-price" ng-if="getPriceOptions() > 0">
                                <div class="price">{{getPriceOptions() | currency}}</div>
                            </div>
                            <!-- end ngIf: lensSummary().getAddedChargeSum() > 0 -->
                            <!-- ngIf: lensSummary().getAddedChargeSum() <= 0 -->
                            <div class="option-title">Lens Options:</div>
                            <ul class="option-list">
                                <li ng-if="packages[selected_package_code].lens[packages.lens_choice].name">{{packages[selected_package_code].lens[packages.lens_choice].name}}</li>
                                <li ng-if="upgrades[0].selected">{{upgrades[0].name}}</li>
                                <li ng-if="upgrades[1].selected">{{upgrades[1].name}}</li>
                                <li ng-if="packages[selected_package_code].name">{{packages[selected_package_code].name}}</li>
                            </ul>

                        </div>
                        <div class="product-section">

                            <div>
                                <app-spinner ng-show="isSaving"></app-spinner>
                                <button class="add_to_cart btn" name="add_to_cart" ng-show="!isSaving"
                                        ng-click="addToCart(product.product_id)">
                                    <img ng-show="!pdp_base.edit_mode" id="cart-image"
                                         src="/images/update/add-to-cart.png">
                                    <span>Add to Cart</span>
                                </button>
                            </div>

                        </div>

                        <div class="product-section">
                            <div class="shipping-info">
                                Shipping is always on us
                            </div>
                        </div>
                    </div>


                </div>
                <!-- end floating-box -->
            </div>
        </div>
    </div>
</div>