<div class="container">

  <div class="page-header">
    <div class="row">
      <div class="col-sm-6">
        <h2 ng-show="!isEdit">New Category</h2>
        <h2 ng-show="isEdit">Edit Category</h2>
      </div>
      <div class="col-sm-6 text-right btn-toolbar">
        <button type="button" class="btn btn-sm btn-primary" ng-click="save()" ng-disabled="isSaving">
          {{isSaving?"Saving":"Save"}}
        </button>
        <button type="button" class="btn btn-sm btn-default" ng-click="cancel()">
          Cancel
        </button>
      </div>
    </div>
  </div>

  <form method="POST" action="" accept-charset="UTF-8" name="adminForm" class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="col-sm-10">
        <input required="required" class="form-control" name="name" type="text" ng-model="category.name">
      </div>
    </div>

    <!--<div class="form-group">-->
      <!--<label class="col-sm-2 control-label">Parent Category</label>-->
      <!--<div class="col-sm-10" ng-show="!isLoading">-->
        <!--<select class="form-control" name="parent_id" ng-model="category.parent_id" ng-options="category.name for category in categories">-->
        <!--</select>-->
      <!--</div>-->
      <!--<app-spinner ng-show="isLoading"></app-spinner>-->
    <!--</div>-->

    <div class="form-group">
      <div class="col-sm-10">
        <input id="category_id" class="form-control" name="category_id" type="hidden" ng-model="category.category_id">
      </div>
    </div>

  </form>
</div>