/* Navigation */
#admin-header .navbar-inverse {  background: #2c3742;  border-color: #191e23;  }
#admin-header .navbar-inverse .navbar-nav>li>a { color: #fff;  }
#admin-header .navbar-inverse .navbar-brand {
    color: #fff;
}

/*dropdown menu*/
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* error */
.glyphicon-asterisk{
    color: #d9534f;
}

label.error{
    color: #d9534f;
    font-weight: normal;
}

.paginator-row nav{
    display: inline-block;
}
.paginator-row .pagination{
    margin: 0px;
}

.paginator-row .select-box{
    margin-left:20px;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.page-header h2{
    margin: 0px;
}

form .nav-tabs {
    margin-bottom: 15px;
}

.app-spinner{
    font-size: 50px;
    text-align: center;
    padding: 15px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 400px;
    height: 100px;
    text-align: center;
    padding-top: 12px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

div#admin-content{
    padding-top: 70px;
    padding-bottom: 30px;
}





/*product item*/
.product-item{
    padding: 15px;
}
.product-item a img{
    height: 120px;
    width: 120px;
}
.product-item .product-name {
    text-align: center;
    border-bottom: none;
}
.product-item .price-box {
    text-align: center;
}

/*product grid*/
.product-grid .product-item .product-name {
    min-height: 2.7em;
}

#carousel-example-generic{
    height: 400px;
}

.carousel-control.right, .carousel-control.left{
    background-image: none;
}
.carousel-control {
    width: 5%;
}
.carousel-inner {
    width: 90%;
    margin-left:5%;
}

.gallery img{border:2px solid white;width: 96px;}
.active img{border:2px solid #333 !important;}