/* Navigation */
#admin-header .navbar-inverse {  background: #2c3742;  border-color: #191e23;  }
#admin-header .navbar-inverse .navbar-nav>li>a { color: #fff;  }
#admin-header .navbar-inverse .navbar-brand {
    color: #fff;
}

/*dropdown menu*/
.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* error */
.glyphicon-asterisk{
    color: #d9534f;
}

label.error{
    color: #d9534f;
    font-weight: normal;
}

.paginator-row nav{
    display: inline-block;
}
.paginator-row .pagination{
    margin: 0px;
}

.paginator-row .select-box{
    margin-left:20px;
}

.st-sort-ascent:before {
    content: '\25B2';
}

.st-sort-descent:before {
    content: '\25BC';
}

.page-header h2{
    margin: 0px;
}

form .nav-tabs {
    margin-bottom: 15px;
}

.app-spinner{
    font-size: 50px;
    text-align: center;
    padding: 15px;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 65px;
    text-align: center;
    padding-top: 12px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

div#admin-content{
    padding-top: 70px;
    padding-bottom: 30px;
}


/*====================
       Header Rules
=====================*/
header #logo-new img {
    margin: 2px 0 0 -4px;
}

header #top-header-row { font-size: 12px; height: 40px; color: #fff; background: #333 }
header .top-headers.container { background: none repeat scroll 0 0 #333; }
header #second-header-row { height: 59px; padding-top: 9px; }
header #logo-new a {
    background: url('/images/sprite-glasses-rebrand-2015-home.png') no-repeat 0 -1px;
    height: 20px;
    width: 155px;
    display: block;
    position: relative;
    top: 7px;
}
#content-container {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin-top: -9px;
}
header #account-nav { }
header #account-nav li {
    display: inline-block;
    border-left: 1px solid #5C5C5D;
    padding: 0px 17px 0px 17px;
    line-height: 40px;
    font-size: 10px;
    position: relative;
    z-index: 500;
    margin-right: -4px;
}

header #account-nav li.cart-link:hover, header #account-nav li#signin-li:hover, header #account-nav li#signin-li a:hover {
    background-color: #3e3e40;
    text-decoration: none;
}

header #account-nav .an-icon {
    margin-bottom: 8px;
}
header #acct-login .login-selection {
    line-height: 2em;
}

header #login-form .login-selection label {
    font-size: 11px;
    font-family: "Gotham SSm B", "Gotham SSm A", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .01em;
    font-weight: normal;
}

header .h-count {
    display: inline-block;
    background-color:  #ff4026;
    width: 18px;
    height: 18px;
    text-align: center;
    margin: 0 1px 0 9px;
    line-height: 19px;
    vertical-align: 9%;
}
header .arrw-down {
    background: url('/images/sprite-glasses-rebrand-2015-home.png') no-repeat -234px 0;
    display: inherit;
    width: 10px;
    height: 10px;
}

header .active .arrw-down {
    background-position: -234px -10px;
}

header #top-left-copy { height: 100%; line-height: 40px; font-family: "Gotham SSm B", "Gotham SSm A", Helvetica, Arial, sans-serif;}
header .header_list > ul {
    margin-right: -50px;
    padding-left: 35px;
}
header .header_list > ul > li:first-child {
    padding-left: 0px;
    margin-left: 0px;
}
header .header_list > ul > li {
    font-weight: bold;
    display: inline-block;
    margin-left: 0px;
    font-size: 12px;
}
header .header_list > ul > li > a {
    display: inline-block;
    padding: 9px 38px 13px 20px;
    font-size: 11px;
    margin-bottom: -1px;
    cursor: pointer;
}
header .header_list > ul > li > a .underline {
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 2px solid white;
}
header .header_list > ul > li.open > a .underline {
    border-bottom-color: #ff4026;
}
header .header_list > ul > li:last-child > a { padding-right: 0; }
header .header_list li a {
    color: #262628;
    font-family: "Gotham SSm B", "Gotham SSm A";
    letter-spacing: 1px;
}
header .header_list > ul > li > ul a {
    display: block;
    padding: 9px 18px 9px;
    font-size: 11px;
    color: #6d6d6d;
    font-weight: normal;
}
header .header_list > ul > li > ul li.dark > a {
    background-color: #515151;
    color: #fff;
    border-top: 1px solid rgba(255,255,255,0.85);
}
header .header_list > ul > li > ul a.underline:hover , header .header_list > ul > li > ul a.underline:focus {
    background-color: #eee; color: #333;  border-bottom-color: #ff4026;
}
header #main-menus .dropdown-menu, header #search .dropdown-menu {
    border: 1px solid #ccc;
    border-top: 0px;
    -webkit-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
    padding: 0;
    top: 39px;
}
header #main-menus ul {
    margin-bottom: 0px; /*bootstrap has a default bottom margin on uls*/
}
header #details { color: #5C5C5D; border-bottom: 1px solid #5c5c5d; }
header #details:hover { color: #ff4026; border-bottom: 1px solid #ff4026; text-decoration: none; }
header #search { text-align: right; }
header #search .search-input {
    width: 176px;
    height: 30px;
    font-size: 10px;
    padding-left: 8px;
    background: url(/images/search-eyeglass-icon.png) no-repeat 153px 6px;
    border: 1px solid #ccc;
}

#account-nav ul { overflow: visible; margin: 0; }
#navigation-flyouts { right: 172px; width: 300px; cursor:default; }
#account-flyout { right: 170px; width: 220px; position: relative; }
#navigation-flyouts, #account-flyout {
    position: absolute;
    top: 40px;
    z-index: 500;
    background-color: #EEEEEE;
    color: #333335 !important;
    padding: 15px 25px;
    text-align: left;
    font-family: "Gotham SSm B", "Gotham SSm A";
    display: none;
    right: 0;
}

#navigation-flyouts .flyout-label {
    font-family: gothic-font;
    font-size: 22px;
    letter-spacing: .1em;
    font-weight: normal;
    border-bottom: 1px solid #cccccc;
    margin: 0 0 10px;
}

#navigation-flyouts form { margin: 10px 0 0; }

#navigation-flyouts input[type="text"], #navigation-flyouts input[type="password"] {
    padding: 5px 10px;
    width: 250px;
    height: 40px;
    font-size: 11px;
    border: 1px solid #9b9b9b;
    margin: 0 0 10px;
}

#navigation-flyouts label { color: #333335; }

#navigation-flyouts #forgot-pass {
    font-size: 11px;
    color: #9b9b9b;
    text-decoration: underline;
    margin: 0 0 10px;
    cursor: pointer;
    font-family: "Whitney SSm A", "Whitney SSm B";
}

#navigation-flyouts #sign-in-btn button {
    display: block;
    border: none;
    height: 40px;
    background-color: #FD3F26;
    color: #ffffff;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: bold;
}

#navigation-flyouts #sign-in-btn button:hover {
    background-color: #db3321;
}

.g_button {
    display: inline-block;
    border: none;
    height: 40px;
    background-color: #ccc;
    color: #333;
    font-size: 12px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Gotham SSm B", "Gotham SSm A", Helvetica, Arial, sans-serif;
    text-align: center;
}

.g_button:hover {
    cursor: pointer;
    text-decoration: none;
}

.g_button.action {
    background-color: #fd3f26;
    color: #fff;
}

.g_button.cancel {
    background-color: #6d6d6d;
    color: #fff;
}

#newsletter-wrap { margin: 0 0 10px; }
#newsletter-wrap input, #newsletter-wrap label { margin: 0; }
#newsletter-wrap label { font-size: 11px; }

#forgot-pass-form .flyout-label {
    line-height: 30px;
}

#forgot-pass-form p {
    font-family:  "Whitney SSm A", "Whitney SSm B";
    font-size: 10px;
    line-height: 12px;
}

#forgot-password button {
    width: 120px;
    height: 40px;
    border: none;
    color: #ffffff;
    background-color: #FD3F26;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
}
#forgot-password button.cancel_reset { margin-left: 5px; background-color: #9b9b9b; }
#forgot-password p { font-size: 10px; }

#account-nav {font-family: "Gotham SSm B", "Gotham SSm A", Helvetica, Arial, sans-serif }

#signin-li.active, #account-li.active { background-color: #EEEEEE !important; color: #333335 !important; }
#account-li.active a { color: #333335; }
#account-nav ul li a {
    display: inherit;
    text-transform: uppercase;
    color: #6d6d6d;
    /*font-size: 11px;*/
    font-weight: normal;
}

#account-nav ul li a:hover {

}

#signin-li.active #sign-ico { background-position-x: 0; }
#signin-li #sign-ico {
    background: url('/images/sprite-glasses-rebrand-2015-home.png') no-repeat -195px 0;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    position: relative;
    top: 4px;
}

#signin-li.active #sign-ico {
    background-position: -212px 0;
}

.cart-link i.cart {
    height: 20px;
    width: 20px;
    display: inline-block;
    background: url('/images/sprite-glasses-rebrand-2015-home.png') no-repeat -246px 0;
    position: relative;
    top: 4px;
}

#pop_promo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 565px;
    min-height: 175px;
    z-index: 950;
    background: #ffffff;
}
#pop_promo .exit { position: absolute; top: 6px; right: 8px; cursor: pointer;}
#pop_promo .pop_title {
    height: 40px;
    line-height: 40px;
    background-color: #EEEEEE;
    padding: 0 20px;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
}
#pop_promo .pop_content {
    padding: 10px 20px 0;
    font-size: 12px;
    line-height: 21px;
    font-weight: 500;
}

#account-li.active #account-flyout { display: block; }

#account-flyout ul { padding: 0; overflow: visible; }
#account-flyout ul li { display: block; border: none; padding: 0; margin: 0 0 7px; }
#account-flyout-close { position: absolute; top: 6px; right: 8px; color: #FD3F26; cursor: pointer; }


#verify-account p {
    line-height: 1.5em;
}

#search #search-results.dropdown-menu {
    background: #fff url(/images/pred-search-flyout-bg.png) no-repeat;
    width: 250px;
    left: -10px;
    top: 32px;
    padding-top: 8px;
    border-left: none;
    border-right: none;
}
#search-results a {
    display: block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
    padding: 13px 5px 1px 85px;
    background-position: -274px -12px;
    color: #262628;
    font-family: "Gotham SSm B", "Gotham SSm A";
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 11px;
    border-left: 1px solid rgba(0,0,0,0.15);
    border-right: 1px solid rgba(0,0,0,0.15);
}
#search-results a.hover, #search-results a:hover {
    /*background-position: -4px -12px;*/
    background-color: #ccc;
}

#account-nav .cart-link { padding-right: 0;}
#account-nav .cart-link a { color: #ffffff;text-decoration: none; }

#carousel-wrapper { margin: 0 auto; position: relative }
#carousel-wrapper .home_page_module { width: 100% }
#carousel-wrapper .container { position: relative; }
.carousel-button { height: 30px; width: 30px; display: block; position: absolute; z-index: 100; top: 200px }
#carousel-prev.light { background: url('/images/sprite-glasses-rebrand-2015-home.png') no-repeat -143px -50px; left: 0 }
#carousel-prev.light:hover { background-position: -178px -50px }
#carousel-prev.dark { background: url('/images/sprite-glasses-rebrand-2015-home.png') no-repeat 0 -50px; left: 0 }
#carousel-prev.dark:hover { background-position: -35px -50px }
#carousel-next.light { background: url('/images/sprite-glasses-rebrand-2015-home.png') no-repeat -212px -50px; right: 0 }
#carousel-next.light:hover { background-position: -247px -50px }
#carousel-next.dark { background: url('/images/sprite-glasses-rebrand-2015-home.png') no-repeat -71px -50px; right: 0 }
#carousel-next.dark:hover { background-position: -106px -50px }

/* brand home */
.brand-strip { margin: 22.5px 0; height: 65px; width: 100%; display: block; text-align: center;}
.brand-strip a { height: 65px; width: 170px; display: block; line-height: 65px; font-family: "Gotham SSm B", "Gotham SSm A", Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; color: #a0a0a0; text-transform: uppercase; letter-spacing: .03em }
.brand-strip a:hover { background-position: 100% 0; }
.brand-strip a.all_brands:hover { text-decoration: none; }
.brand-strip .all_brands span { border-bottom: 1px solid #a0a0a0; }
.brand-strip .all_brands:hover span { border-color: #333; color: #333; text-decoration: none; }

/* mosaic home */
.trending_mosaic .col-xs-4 { margin: 0; padding: 0 }
.mosaic { position: relative; overflow: hidden; height: 256px; }
.mosaic .divider { content:"\2014"; position: absolute; top: 48%; text-align: center; width: 101.5%; height: 22px; display: block; font-size: 24px; z-index: 200; background: url('../images/mosaic-divider.png') no-repeat 50% 50%}
.mosaic .blur { -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; height: 104%; width: 104%; margin: -2%; -webkit-font-smoothing: subpixel-antialiased; -webkit-transform: translate3d(0,0,0); }
.mosaic h2 { font-size: 29px; font-family: "Gotham SSm B", "Gotham SSm A", Helvetica, Arial, sans-serif; font-weight: 700; position: absolute; text-transform: uppercase; letter-spacing: .15em; position: absolute; text-align: center; width: 101.5%; top: 25%; z-index: 200}
.mosaic h3 { font-size: 22px; font-family: "gothic-font", Helvetica, Arial, sans-serif; position: absolute; text-transform: uppercase; letter-spacing: .15em; position: absolute; text-align: center; width: 101.5%; bottom: 25%; z-index: 200}

#featured_products_header { text-align: center; height: 90px; display: block; position: relative }
#featured_products_header span { font-family: "gothic-font", Helvetica, Arial, sans-serif; font-size: 22px; color: #231f20; text-transform: uppercase; line-height: 80px; letter-spacing: .15em; background: #fff; z-index: 200; position: relative; padding: 10px; }
#featured_products_header hr { position: absolute; top: 20%; width: 100%; z-index: 199; border-color: #ccc }
#featured_products_nav { position: relative; top: 45px; width: 1030px; height: 25px; display: block; margin-top: -25px; }
#featured_products_nav span { cursor: pointer; display: block; height: 25px; margin-bottom: -20px; width: 15px;}
#featured_products_nav_left { background: url('/images/sprite-glasses-rebrand-2015-home.png') no-repeat -198px -21px; position: absolute; left: 0 }
#featured_products_nav_left:hover { background-position: -214px -21px; }
#featured_products_nav_right { background: url('/images/sprite-glasses-rebrand-2015-home.png') no-repeat -230px -21px; position: absolute; right: 0 }
#featured_products_nav_right:hover { background-position: -245px -21px }
#featured_products {padding: 0; overflow: hidden; }
#featured_products_slider { margin: 0; padding: 0; height: 130px; position: relative; display: block; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -o-transition: all .5s ease; -ms-transition: all .5s ease; transition: all .5s ease; left: -925px }
#featured_products .product { float: left; width: 185px; text-align: center; list-style: none; height: 130px; clear: right; }
#featured_products .product img { width: 130px }
#featured_products .product a { font-family: "Gotham SSm B", "Gotham SSm A", Helvetica, Arial, sans-serif; font-size: 12px; line-height: 16px; letter-spacing: .2em; text-transform: uppercase; color: #47474b }
#featured_products .product a:hover { color: #ff4026; text-decoration: none}


.evergreen-mosaic { margin-top: 20px; }
.evergreen-mosaic .image-text-link { position: relative; text-align: center; }
.evergreen-mosaic .image-text-link .link { position: absolute; bottom: 25px; left: 25px; width: 100%; text-align: left; display: block; }
.evergreen-mosaic .image-text-link a { font-family: "Gotham SSm B", "Gotham SSm A", Helvetica, Arial, sans-serif; font-weight: bold; text-transform: uppercase; font-size: 12px; padding-bottom: 1px; letter-spacing: .1em }
.evergreen-mosaic .image-text-link a:hover { text-decoration: none }

.home-grid-1-1-1-headers { margin: 40px 0 20px; }
.headers-details { text-align: center; border-right: 1px solid #ccc; height: 200px; position: relative; }
.headers-details a { display: block; left: 0; position: absolute; top: 0; height: 100%; width: 100%; }
.headers-details-link:hover { text-decoration: none; }
.last .headers-details { border-right: 0 none; }
.headers-details h2 { font-family: "Gotham SSm B", "Gotham SSm A", Helvetica, Arial, sans-serif; font-weight: 200; font-size: 37px; text-transform: uppercase; letter-spacing: .1em; color: #333335; margin: 0; padding: 40px 0 0; }
.headers-details h3 { font-family: "Gotham SSm B", "Gotham SSm A", Helvetica, Arial, sans-serif; font-size: 17px; text-transform: uppercase; letter-spacing: .1em; color: #333335; margin: 0; padding: 6px 0 0; height: 100%; width: 100%; position: absolute; top: 0; padding: 85px 0 0}
.headers-details h3:hover { color: #ff4026 }
.headers-details p { font-family: "Whitney SSm B", "Whitney SSm A", Helvetica, Arial, sans-serif; font-size: 12px; padding: 35px 25px 0; color: #333335; margin: 0; }

.brand-strip { margin: 22.5px 0; height: 65px; width: 100%; display: block; text-align: center;}
.brand-strip a { height: 65px; width: 170px; display: block; line-height: 65px; font-family: "Gotham SSm B", "Gotham SSm A", Helvetica, Arial, sans-serif; font-size: 12px; font-weight: bold; color: #a0a0a0; text-transform: uppercase; letter-spacing: .03em }
.brand-strip a:hover { background-position: 100% 0; }
.brand-strip a.all_brands:hover { text-decoration: none; }
.brand-strip .all_brands span { border-bottom: 1px solid #a0a0a0; }
.brand-strip .all_brands:hover span { border-color: #333; color: #333; text-decoration: none; }

/*===============   BEGIN FOOTER  ===============*/

/* Add Bootstrap styles for five column layout */

.col-xs-fifth,
.col-sm-fifth,
.col-md-fifth,
.col-lg-fifth {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-fifth {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-fifth {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-fifth {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-fifth {
        width: 20%;
        float: left;
    }
}

#footer { background-color: #ECECEC; margin-top: 20px; font-family: "Gotham SSm B", "Gotham SSm A"; text-transform: uppercase; }
#footer .footer_row { margin: 30px 0px 26px 0px; }
#footer .footer_menu { border-top: 1px solid #ccc; padding-top: 20px; }
#footer span { color: #262628; font-size: 14px; font-weight: bold; }
#footer a { color: #777779; }
#footer a:hover { color: #FD4026; }
#footer .newsletter_signup { width: 65%; float: left;}
span.inputHint { color: #262628 !important; }
#footer input.subscribe { width: 198px; border-top: 1px solid #ECECEC; border-left: none; border-bottom: 1px solid #262628; outline: none; -webkit-appearance: none; background: inherit; color: #262628; text-indent: 0px; font-size: 11px; font-weight: bold; line-height: 26px; margin-left: 23px; border-right: none; height: 26px; }
#footer #newsletter span.inputHint { margin: 0px -1px 0px 5px; }
#footer .signup_button { display: table; }
#footer .newsletter {  color: #262628; font-size: 11px; font-weight: bold; background: inherit; border: 1px solid #262628; height: 30px; width: 88px; text-align: center; padding-top: 7px; margin-left: 4px; cursor: pointer; }
#footer .signUpResponse { color: #FD4026; }
#footer .newsletter:hover { background-color: #333335; color: #ffffff; }
#footer .social { padding: 6px 0 0 2px; }
#footer .social a img { width: 22px; height: 22px; }
#footer a img.facebook { background: url('/images/rebrand2015/facebook.png') no-repeat center center; }
#footer a img.instagram { background: url('/images/rebrand2015/instagram.png') no-repeat center center; }
#footer a img.twitter { background: url('/images/rebrand2015/twitter.png') no-repeat center center;}
#footer a img.youtube { background: url('/images/rebrand2015/youtube.png') no-repeat center center;}
#footer a img.pinterest { background: url('/images/rebrand2015/pinterest.png') no-repeat center center;}
#footer a img.facebook:hover { background: url('/images/rebrand2015/facebook_hover.png') no-repeat center center;}
#footer a img.instagram:hover { background: url('/images/rebrand2015/instagram_hover.png') no-repeat center center;}
#footer a img.twitter:hover { background: url('/images/rebrand2015/twitter_hover.png') no-repeat center center;}
#footer a img.youtube:hover { background: url('/images/rebrand2015/youtube_hover.png') no-repeat center center;}
#footer a img.pinterest:hover { background: url('/images/rebrand2015/pinterest_hover.png') no-repeat center center;}
#footer .social { }
#footer .social ul { display: inline; padding-left: 18px; position: relative; top: -5px;}
#footer .social li { display: inline; list-style-type: none; padding-right: 5px;}
#footer .footer_nav { text-transform: capitalize;}
#footer .nav_category { font-size: 14px; font-weight: bold; }
#footer .nav_category a { color: #262628; text-decoration: none; }
#footer .nav_category a[href]:hover { text-decoration: underline; }
#footer .footer_nav ul { list-style-type: none; padding: 10px 0 0 0; font-family: "Whitney SSm A", "Whitney SSm B", Helvetica, Arial, sans-serif;}
#footer .footer_nav li { padding: 2px 0 4px 0; font-size: 11.5px;}
#footer .copyright { display: inline-block; width: 100%; height: 40px; margin-top: 20px; background-color: #333335; color: #777779; padding-top: 13px; font-size: 11px; position: relative; top: 5px;}
/*===============   END FOOTER  ===============*/



/*product item*/
.product-item{
    height: 200px;
}
.product-item a img{
    height: 120px;
    width: 120px;
}
.product-item .product-name {
    text-align: center;
    border-bottom: none;
}
.product-item .price-box {
    text-align: center;
}

/*product grid*/
.product-grid .product-item .product-name {
    min-height: 2.7em;
}

#carousel-example-generic{
    height: 400px;
}

.carousel-control.right, .carousel-control.left{
    background-image: none;
}
.carousel-control {
    width: 5%;
}
.carousel-inner {
    width: 90%;
    margin-left:5%;
}