<div>
    <h4 class="options-part ng-binding ng-scope">Materials:</h4>

    <div class="radio-holder ng-scope">
        <ul>
            <li>
                <label class="options-part ng-binding" style="padding-top:0">Reading Power:
                    <select ng-init="lens_choice='+1.00'" ng-model="packages.lens_choice">
                        <option value="+0.50" label="+0.50">+0.50</option>
                        <option value="+0.75" label="+0.75">+0.75</option>
                        <option value="+1.00" selected="selected" label="+1.00">+1.00</option>
                        <option value="+1.25" label="+1.25">+1.25</option>
                        <option value="+1.50" label="+1.50">+1.50</option>
                        <option value="+1.75" label="+1.75">+1.75</option>
                        <option value="+2.25" label="+2.25">+2.25</option>
                        <option value="+2.50" label="+2.50">+2.50</option>
                        <option value="+2.75" label="+2.75">+2.75</option>
                        <option value="+3.00" label="+3.00">+3.00</option>
                    </select>
                </label>
            </li>
        </ul>
    </div>
</div>