<div>
    <h4 class="options-part ng-binding ng-scope">Materials:</h4>

    <div class="radio-holder radio-extended ng-scope">
        <ul class="pdp-control-radio">
            <li>
                <label>
                    <input type="radio" ng-model="packages.lens_choice"
                           ng-value="'cr39'" name="129" value="cr39">
                    <span class="pdp-label"></span>
                    <span>CR-39 Plus</span>
                    |
                    <span>Add $39</span>

                    <div class="lens-compare">(Compare to Visionworks: $182)</div>
                    <div class="lens-popup">
                        <p>Our high-clarity CR-39 Plus lenses include no-glare, scratch-resistant
                            coatings with 100% UV protection. We recommend upgrading to our
                            polycarbonate lenses for children or high-impact sports because of
                            superior impact-resistance.</p>

                        <div class="arrow"></div>
                    </div>
                </label>
            </li>
            <li>
                <label>
                    <input type="radio" ng-model="packages.lens_choice"
                           ng-value="'poly'"
                           name="126" value="poly"><span class="pdp-label"></span>
                    <span>Polycarbonate</span>
                    |
                    <span>Add $79</span>

                    <div class="lens-compare">(Compare to Visionworks: $219)</div>
                    <div class="lens-popup">
                        <p>High quality polycarbonate lenses with no-glare and scratch-resistant
                            treatments. Also includes UV protection.</p>

                        <div class="arrow"></div>
                    </div>
                </label>
            </li>
            <li>
                <label >
                    <input type="radio" ng-model="packages.lens_choice"
                           ng-value="'ulpoly'"
                           name="127" value="ulpoly"><span class="pdp-label"></span>
                    <span>Ultra Lightweight High-Index</span>
                    |
                    <span>Add $99</span>

                    <div class="lens-compare">(Compare to Visionworks: $299)</div>
                    <div class="lens-popup far">
                        <p>Have a high prescription? Our high-index lens is similar to
                            polycarbonate, but ensures you get the thinnest lens with high
                            tensile strength for maximum durability.</p>

                        <div class="arrow"></div>
                    </div>
                </label>
            </li>
        </ul>

    </div>
</div>