<div>
    <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
        </slide>
    </carousel>
</div>

<div class="container">

    <div class="brand-strip" id="brandStrip">
        <div class="col-xs-2">
            <a brand="1" class="asset" href="/ray-ban" style="
       padding-left:0px;
       padding-right:0px;
       background-image: url('http://media.glasses.com/is/image/Glasses/rayban_170x654?layer=0&amp;align=-1,1&amp;extend=0,0,170,0&amp;layer=1&amp;src=rayban_170x654&amp;posN=.5,0&amp;op_brightness=-75&amp;qlt=100,1')">
            </a>
        </div>
        <div class="col-xs-2">
            <a brand="1" class="asset" href="/michael-kors" style="
       padding-left:0px;
       padding-right:0px;
       background-image: url('http://media.glasses.com/is/image/Glasses/michaelkors_170x653?layer=0&amp;align=-1,1&amp;extend=0,0,170,0&amp;layer=1&amp;src=michaelkors_170x653&amp;posN=.5,0&amp;op_brightness=-75&amp;qlt=100,1')">
            </a>
        </div>
        <div class="col-xs-2">
            <a brand="1" class="asset" href="/coach" style="
       padding-left:0px;
       padding-right:0px;
       background-image: url('http://media.glasses.com/is/image/Glasses/coach_170x653?layer=0&amp;align=-1,1&amp;extend=0,0,170,0&amp;layer=1&amp;src=coach_170x653&amp;posN=.5,0&amp;op_brightness=-75&amp;qlt=100,1')">
            </a>
        </div>
        <div class="col-xs-2">
            <a brand="1" class="asset" href="/kate-spade-new-york" style="
       padding-left:0px;
       padding-right:0px;
       background-image: url('http://media.glasses.com/is/image/Glasses/katespadenewyork_170x653?layer=0&amp;align=-1,1&amp;extend=0,0,170,0&amp;layer=1&amp;src=katespadenewyork_170x653&amp;posN=.5,0&amp;op_brightness=-75&amp;qlt=100,1')">
            </a>
        </div>
        <div class="col-xs-2">
            <a brand="1" class="asset" href="/oakley" style="
       padding-left:0px;
       padding-right:0px;
       background-image: url('http://media.glasses.com/is/image/Glasses/oakley_170x654?layer=0&amp;align=-1,1&amp;extend=0,0,170,0&amp;layer=1&amp;src=oakley_170x654&amp;posN=.5,0&amp;op_brightness=-75&amp;qlt=100,1')">
            </a>
        </div>
        <div class="col-xs-2">
            <a class="all_brands" href="/brands" style="padding-left:0px; padding-right:0px;"><span>View All</span></a>
        </div>
    </div>

    <div class="trending_mosaic row" id="trendingMosaic">
        <div class="col-xs-4">
        <div class="mosaic" id="imageHeadSubheaderMosaic">
            <a href="/kate-spade-new-york">
                <h2 style="color: #ffffff">Featured</h2>
                <span class="divider" style="color: #ffffff"></span>
                <h3 style="color: #ffffff">kate spade new york</h3>
                <img src="/images/feature1.jpg" alt="Featured - kate spade new york" class="placeholder blur " style="-webkit-filter: none; filter: none;">
            </a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="mosaic" id="imageHeadSubheaderMosaic">
            <a href="/smith-optics">
                <h2 style="color: #ffffff">Trending</h2>
                <span class="divider" style="color: #ffffff"></span>
                <h3 style="color: #ffffff">New Smith Optics</h3>
                <img src="/images/feature2.jpg" alt="Trending - Smith Optics" class="placeholder blur " style="-webkit-filter: none; filter: none;">
            </a>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="mosaic" id="imageHeadSubheaderMosaic">
            <a href="http://www.glasses.com/blog/one-dapper-street-in-the-iconic-clubmaster/">
                <h2 style="color: #ffffff">On The Blog</h2>
                <span class="divider" style="color: #ffffff"></span>
                <h3 style="color: #ffffff">One Dapper Street</h3>
                <img src="/images/feature3.jpg" alt="On the Blog - One Dapper Street" class="placeholder blur " style="-webkit-filter: none; filter: none;">
            </a>
        </div>
    </div>
</div>

</div>